<link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />


<!-- -------------------------------------navbar--------------------------------------------- -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

      <a href="/">Home</a>
      <a href="/users/about">About Us</a>
      <a href="/users/contact">Contact Us</a>
      <a href="/users/gallery"> Photo Gallery </a>
      <a href="/users/registration">Registration</a>
      <a href="/users/team">Our Team</a>
      <a href="https://discussion-portal-akss.herokuapp.com/" target="_blank"
        >Discussion Forum</a
      >
      <a href="/users/stats">Stats & Sponsors</a>
      <a href="/users/events">Events & Timeline</a>
      <a href="https://video-chat-akss.herokuapp.com/">Video Chat (1:1)</a>
    </div>
    <div>
      <button class="openbtn" onclick="openNav()">☰</button>
    </div>

    <a class="navbar-brand" href="/" style="margin-right: 1100px;">Euforia</a>
  </div>
</nav>

  <!-- ----------------gallery------------------------- -->

  <link
    href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <ul class="gallery_box" style="padding-top: 100px">
    <li>
      <a href="#0"
        ><img src="https://picsum.photos/600/700/?random" />
        <div class="box_data">
          <span>Ravi With Bike</span>
        </div></a
      >
    </li>
    <li>
      <a href="#0"
        ><img src="https://picsum.photos/600/701/?random" />
        <div class="box_data">
          <span>Ravi Singh</span>
        </div></a
      >
    </li>
    <li>
      <a href="#0"
        ><img src="https://picsum.photos/600/702/?random" />
        <div class="box_data">
          <span>White wall</span>
        </div></a
      >
    </li>
    <li>
      <a href="#0"
        ><img src="https://picsum.photos/600/703/?random" />
        <div class="box_data">
          <span>Green Tree</span>
        </div></a
      >
    </li>
    <li style="position: relative; top: -134px">
      <a href="#0"
        ><img src="https://picsum.photos/600/704/?random" />
        <div class="box_data">
          <span>Blue</span>
        </div></a
      >
    </li>
    <li>
      <a href="#0"
        ><img src="https://picsum.photos/600/705/?random" />
        <div class="box_data">
          <span>Ravi</span>
        </div></a
      >
    </li>
  </ul>

  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Untitled</title>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
      />
      <link rel="stylesheet" href="assets/css/style.css" />
    </head>

    <body>
      <div class="testimonials-clean">
        <div class="container">
          <div class="intro">
            <h2 class="text-center">Testimonials</h2>
            <p class="text-center">
              Our customers love us! Read what they have to say below. Aliquam
              sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet
              vitae.
            </p>
          </div>
          <div class="row people">
            <div class="col-md-6 col-lg-4 item">
              <div class="box">
                <p class="description">
                  Aenean tortor est, vulputate quis leo in, vehicula rhoncus
                  lacus. Praesent aliquam in tellus eu gravida. Aliquam varius
                  finibus est.
                </p>
              </div>
              <div class="author">
                <img class="rounded-circle" src="assets/img/1.jpg" />
                <h5 class="name">Ben Johnson</h5>
                <p class="title">CEO of Company Inc.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
              <div class="box">
                <p class="description">
                  Praesent aliquam in tellus eu gravida. Aliquam varius finibus
                  est, et interdum justo suscipit id.
                </p>
              </div>
              <div class="author">
                <img class="rounded-circle" src="assets/img/3.jpg" />
                <h5 class="name">Carl Kent</h5>
                <p class="title">Founder of Style Co.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
              <div class="box">
                <p class="description">
                  Aliquam varius finibus est, et interdum justo suscipit.
                  Vulputate quis leo in, vehicula rhoncus lacus. Praesent
                  aliquam in tellus eu.
                </p>
              </div>
              <div class="author">
                <img class="rounded-circle" src="assets/img/2.jpg" />
                <h5 class="name">Emily Clark</h5>
                <p class="title">Owner of Creative Ltd.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    </body>
  </html>
  <!-- ------------------------------------------FOOTER------------------------------------- -->
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-white" href="https://phcet.ac.in/#">PHCET</a>
    </div>
    <!-- Copyright -->
  </footer>

  <!-- --------------------------------------------FOOTER--------------------------------------------- -->
</body>
<!-- ---------------------------------NAVBAR ENDS------------------------------------------------------------------- -->

<style>
  /* --------------------------------------NAVBAR STARTS---------------------------------------- */

  body {
    background-color: rgb(8, 7, 7);
  }

  .navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }

  .navbar-toggler {
    background: #fff;
  }

  .navbar-nav {
    text-align: center;
  }

  .nav-link {
    padding: 0.2rem 1rem;
  }

  .nav-link.active,
  .nav-link:focus {
    color: #fff;
  }

  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }

  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(165, 47, 47);
  }

  /* ---------------------------------------NAVBAR ENDS--------------------------------------------------------- */
  img {
    max-width: 100%;
  }

  .gallery_box li {
    width: 33.333333%;
    max-width: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  .gallery_box {
    padding: 120;
    display: flow-root;
  }

  .gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  .gallery_box li img {
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
  }
  .gallery_box li:nth-child(even) {
    height: 304px;
  }
  .gallery_box li:nth-child(odd) {
    height: 438px;
  }
  .gallery_box li:nth-child(odd) .box_data {
    background: rgba(0, 0, 0, 0.17);
  }
  .gallery_box li:nth-child(even) .box_data {
    background: rgba(0, 44, 255, 0.27);
  }
  .gallery_box .box_data {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
  }
  .gallery_box .box_data span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    font-size: 24px;
  }
  .gallery_box li:hover .box_data {
    background: rgba(88, 87, 87, 0.55);
  }

  .testimonials-clean {
    color: #313437;
    background-color: #eef4f7;
  }

  .testimonials-clean p {
    color: #7d8285;
  }

  .testimonials-clean h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
  }

  @media (max-width: 767px) {
    .testimonials-clean h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }
  }

  .testimonials-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
  }

  .testimonials-clean .intro p {
    margin-bottom: 0;
  }

  .testimonials-clean .people {
    padding: 50px 0 20px;
  }

  .testimonials-clean .item {
    margin-bottom: 32px;
  }

  @media (min-width: 768px) {
    .testimonials-clean .item {
      height: 220px;
    }
  }

  .testimonials-clean .item .box {
    padding: 30px;
    background-color: #fff;
    position: relative;
  }

  .testimonials-clean .item .box:after {
    content: "";
    position: absolute;
    left: 30px;
    bottom: -24px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-width: 12px 15px;
    border-top-color: #fff;
  }

  .testimonials-clean .item .author {
    margin-top: 28px;
    padding-left: 25px;
  }

  .testimonials-clean .item .name {
    font-weight: bold;
    margin-bottom: 2px;
    color: inherit;
  }

  .testimonials-clean .item .title {
    font-size: 13px;
    color: #9da9ae;
  }

  .testimonials-clean .item .description {
    font-size: 15px;
    margin-bottom: 0;
  }

  .testimonials-clean .item img {
    max-width: 40px;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
  }

  body {
    font-family: "Lato", sans-serif;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }

  #main {
    transition: margin-left 0.5s;
    padding: 16px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
  }
</style>

<script>
  function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }
</script>
