<link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <!-- <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css"
      rel="stylesheet"
    /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />


<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container" style="margin-bottom: 5px">
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

      <a href="/">Home</a>
      <a href="/users/about">About Us</a>
      <a href="/users/contact">Contact Us</a>
      <a href="/users/gallery"> Photo Gallery </a>
      <a href="/users/registration">Registration</a>
      <a href="/users/team">Our Team</a>
      <a href="https://discussion-portal-akss.herokuapp.com/" target="_blank"
        >Discussion Forum</a
      >
      <a href="/users/stats">Stats & Sponsors</a>
      <a href="/users/events">Events & Timeline</a>
      <a href="https://video-chat-akss.herokuapp.com/">Video Chat (1:1)</a>
    </div>
    <div>
      <button class="openbtn" onclick="openNav()">☰</button>
    </div>

    <a class="navbar-brand" href="/" style="margin-right: 1100px;">Euforia</a>
  </div>
</nav>

  <div class="container register">
    <div class="row">
      <div class="col-md-3 register-left">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
        <h3>Welcome</h3>
        <p>We are glad that you decided to join us at this event!</p>
        
      </div>
      <div class="col-md-9 register-right">
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="home-tab"
              data-toggle="tab"
              href="#home"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              >Register</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="profile-tab"
              data-toggle="tab"
              href="#profile"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
              >Payment</a
            >
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
            
          >
            <h3 class="register-heading">Register for the event</h3>
            <div class="row register-form">
              <div class="col-md-6">
               
                <form action="/users/registration" method="POST">
                <div class="form-group">
                  
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First Name *"
                    value=""
                    name="firstName"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Last Name *"
                    value=""
                    name="lastName"
                  />
                </div>
                
                <div class="form-group">
                  <div class="maxl">
                    <label class="radio inline">
                      <input type="radio" name="gender" value="male" checked />
                      <span> Male </span>
                    </label>
                    <label class="radio inline">
                      <input type="radio" name="gender" value="female" />
                      <span>Female </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Your Email *"
                    value=""
                    name="mail"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    minlength="10"
                    maxlength="10"
                    name="phone"
                    class="form-control"
                    placeholder="Your Phone *"
                    value=""
                  />
                </div>
                <a href="/users/registration">
                <button type="submit" class="btnRegister">Register</button>
              </a>
            </form>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade show"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <h3 class="register-heading">Payment Gateway</h3>
            <div class="row register-form">
              <div class="col-md-6">
               <a href="https://payment-gateway-akss.herokuapp.com/">
                <input type="submit" class="btnRegister" value="Start ->" />
            </a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-white" href="https://phcet.ac.in/#">PHCET</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>
<style>
  footer{
    position:fixed;
    width:100%;
  }
  .navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }

  .navbar-toggler {
    background: #fff;
  }

  .navbar-nav {
    text-align: center;
  }

  .nav-link {
    padding: 0.2rem 1rem;
  }

  .nav-link.active,
  .nav-link:focus {
    color: #fff;
  }

  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }

  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(165, 47, 47);
  }

  .register {
    background: -webkit-linear-gradient(left, #111111, #5c5e5e);
    margin-top: 4%;
    padding: 3%;
    box-shadow: 4px 4px 4px 4px rgb(61, 59, 59);
  }
  .register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
  }
  .register-left input {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
  }
  .register-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
  }
  .register-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
  }
  @-webkit-keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  @keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  .register-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
  }
  .register .register-form {
    padding: 10%;
    margin-top: 10%;
  }
  .btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
  }
  .register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
  }
  .register .nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }
  .register .nav-tabs .nav-link:hover {
    border: none;
  }
  .register .nav-tabs .nav-link.active {
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }
  .register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
  }

  body {
  font-family: "Lato", sans-serif;
  background-color: #111;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

</style>

<script>

  function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }
  
  </script>
