<link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

      <a href="/">Home</a>
      <a href="/users/about">About Us</a>
      <a href="/users/contact">Contact Us</a>
      <a href="/users/gallery"> Photo Gallery </a>
      <a href="/users/registration">Registration</a>
      <a href="/users/team">Our Team</a>
      <a href="https://discussion-portal-akss.herokuapp.com/" target="_blank"
        >Discussion Forum</a
      >
      <a href="/users/stats">Stats & Sponsors</a>
      <a href="/users/events">Events & Timeline</a>
      <a href="https://video-chat-akss.herokuapp.com/">Video Chat (1:1)</a>
    </div>
    <div>
      <button class="openbtn" onclick="openNav()">☰</button>
    </div>

    <a class="navbar-brand" href="/" style="margin-right: 1100px;">Euforia</a>
  </div>
</nav>

<section class="our-webcoderskull padding-lg">
  <!-- <div class="container"> -->
  <div class="row heading heading-icon">
    <h2>Faculty</h2>
  </div>
  <ul class="row">
    <li class="col-12 col-md-6 col-lg-3">
      <div class="cnt-block equal-hight" style="height: 349px">
        <figure>
          <img
            src="http://www.webcoderskull.com/img/team4.png"
            class="img-responsive"
            alt=""
          />
        </figure>
        <h3><a href="http://www.webcoderskull.com/">Web coder skull</a></h3>
        <p>Freelance Web Developer</p>
        <ul class="follow-us clearfix">
          <li>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="col-12 col-md-6 col-lg-3">
      <div class="cnt-block equal-hight" style="height: 349px">
        <figure>
          <img
            src="http://www.webcoderskull.com/img/team1.png"
            class="img-responsive"
            alt=""
          />
        </figure>
        <h3><a href="#">Kappua </a></h3>
        <p>Freelance Web Developer</p>
        <ul class="follow-us clearfix">
          <li>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="col-12 col-md-6 col-lg-3">
      <div class="cnt-block equal-hight" style="height: 349px">
        <figure>
          <img
            src="http://www.webcoderskull.com/img/team4.png"
            class="img-responsive"
            alt=""
          />
        </figure>
        <h3><a href="http://www.webcoderskull.com/">Manish </a></h3>
        <p>Freelance Web Developer</p>
        <ul class="follow-us clearfix">
          <li>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="col-12 col-md-6 col-lg-3">
      <div class="cnt-block equal-hight" style="height: 349px">
        <figure>
          <img
            src="http://www.webcoderskull.com/img/team2.png"
            class="img-responsive"
            alt=""
          />
        </figure>
        <h3><a href="http://www.webcoderskull.com/">Atul </a></h3>
        <p>Freelance Web Developer</p>
        <ul class="follow-us clearfix">
          <li>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <!-- </div> -->
</section>

<div class="container-fluid px-5 mx-auto">
  <div class="row justify-content-center">
    <div class="col-12 text-center mb-0">
      <h5 id="heading" class="mb-0">Our Team</h5>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-center mb-5">
      <div class="line mx-auto"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-8">
          <div class="image">
            <img src="https://i.imgur.com/RCwPA3O.jpg" class="fit-image" />
          </div>
          <p class="mt-2 text-center image-name">Alissa (Lead Designer)</p>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <div class="gap"></div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <div class="image bottom-image">
            <img src="https://i.imgur.com/Enygcf8.jpg" class="fit-image" />
          </div>
          <p class="mt-2 text-center image-name">Rob Joe (Designer)</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row justify-content-center">
        <div class="col-md-8 vertical-center">
          <div class="image">
            <img src="https://i.imgur.com/RjoisAK.jpg" class="fit-image" />
          </div>
          <p class="mt-2 text-center image-name">John Doe (CEO)</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <div class="image">
            <img src="https://i.imgur.com/K1IiLJw.jpg" class="fit-image" />
          </div>
          <p class="mt-2 text-center image-name">Lina Jose (Architect)</p>
        </div>
      </div>
      <div class="row">
        <div class="gap"></div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="image bottom-image">
            <img src="https://i.imgur.com/6tPhTUn.jpg" class="fit-image" />
          </div>
          <p class="mt-2 text-center image-name">Stephanie (Designer)</p>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
<!-- -------------------------------------FOOTER------------------------------------- -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-white" href="https://phcet.ac.in/#">PHCET</a>
  </div>
  <!-- Copyright -->
</footer>


<!-- ---------------------------------------FOOTER---------------------------------------------------- -->
<style>
  .container-fluid {
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: #000000;
    color: #ffffff;
  }

  #heading {
    font-size: 40px;
    margin-top: 40px;
    font-weight: normal;
    font-family: Century Gothic;
  }

  .line {
    background-color: #ffffff;
    border-radius: 50px;
    border: none;
    padding: 2px;
    height: 4px;
    width: 100px;
    margin-top: 5px;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
  }

  @media (max-width: 768px) {
    .vertical-center {
      margin: 0;
      position: relative;
      top: 0;
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }

  .gap {
    height: 130px;
  }

  @media (max-width: 768px) {
    .gap {
      height: 0;
    }
  }

  .image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .image-name {
    font-weight: bold;
  }

  .fit-image {
    width: 100%;
    object-fit: cover;
  }

  /* ----------------------------------------OUR TEAM ENDS------------------------------------------- */

  .row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  ul {
    margin-top: 0px;
    padding: 0;
    list-style: none;
  }
  .heading.heading-icon {
    display: block;
  }
  .padding-lg {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
  }
  .practice-area .inner {
    border: 1px solid #999999;
    text-align: center;
    margin-bottom: 28px;
    padding: 40px 25px;
  }
  .our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(126, 91, 91, 0.3);
    border: 0;
  }
  .practice-area .inner h3 {
    color: #3c3c3c;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 10px 0;
  }
  .practice-area .inner p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
  .practice-area .inner img {
    display: inline-block;
  }

  .our-webcoderskull {
    background: url("http://www.webcoderskull.com/img/right-sider-banner.png")
      no-repeat center top / cover;
  }
  .our-webcoderskull .cnt-block {
    float: left;
    width: 100%;
    background: #fff;
    padding: 30px 20px;
    text-align: center;
    border: 2px solid #d5d5d5;
    margin: 0 0 28px;
  }
  .our-webcoderskull .cnt-block figure {
    width: 148px;
    height: 148px;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 15px;
  }
  .our-webcoderskull .cnt-block img {
    width: 148px;
    height: 148px;
    border-radius: 100%;
  }
  .our-webcoderskull .cnt-block h3 {
    color: #2a2a2a;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-transform: uppercase;
  }
  .our-webcoderskull .cnt-block h3 a {
    text-decoration: none;
    color: #2a2a2a;
  }
  .our-webcoderskull .cnt-block h3 a:hover {
    color: #337ab7;
  }
  .our-webcoderskull .cnt-block p {
    color: #2a2a2a;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
  }
  .our-webcoderskull .cnt-block .follow-us {
    margin: 20px 0 0;
  }
  .our-webcoderskull .cnt-block .follow-us li {
    display: inline-block;
    width: auto;
    margin: 0 5px;
  }
  .our-webcoderskull .cnt-block .follow-us li .fa {
    font-size: 24px;
    color: #767676;
  }
  .our-webcoderskull .cnt-block .follow-us li .fa:hover {
    color: #025a8e;
  }

  .navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }

  .navbar-toggler {
    background: #fff;
  }

  .navbar-nav {
    text-align: center;
  }

  .nav-link {
    padding: 0.2rem 1rem;
  }

  .nav-link.active,
  .nav-link:focus {
    color: #fff;
  }

  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }

  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(165, 47, 47);
  }

  body {
    padding: 0px 0px;
    font-family: "Lato", sans-serif;
    width: 100%;
    overflow-x: hidden;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }

  #main {
    transition: margin-left 0.5s;
    padding: 16px;
  }

  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
  }
</style>

<script>
  function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }
</script>
